.hello-container h1 {
    text-align: left;
    font-size: 52px;
    margin-bottom: 25rem;
}

.stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    font-size: 64px;
}

.color {
    color: #8655ff;
}

.stacks h2 {
    font-size: 52px;
}
.stacks h3 {
    font-size: 2.4rem;
    text-align: center
}

.stacks__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stacks img {
    max-height: 3em;
    width: fit-content;
    max-width: 100%;
    margin: 1.5em 0.4em 0 0.4em;
}

.development__graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5em;
}

.development__graphs img {
    border-radius: 20px;
}

.development__graphsDiv {
    margin-top: 7em;
}

.chart {
    margin-top: 7em;
}
